@model RoomListViewModel
@{
    ViewData["Title"] = "List of rooms";
}
<div>
    <h3>@ViewData["Title"] - @Model.Rooms.Count Rooms</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Room Id</th>
                <th>Room Name</th>
                <th>Owner</th>
                <th>Users</th>
                <th>Connections</th>
                <th>Created Datetime</th>
                <th>Updated Datetime</th>
                <th>Deleted Datetime</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var room in Model.Rooms)
            {
            <tr>
                <th><a asp-controller="Room" asp-action="Info" asp-route-id="@room.Id">@room.Id</a></th>
                <th><a asp-controller="Room" asp-action="Room" asp-route-id="@room.RoomId">@room.RoomId</a></th>
                <td>@room.RoomName</td>
                <td>@room.OwnerUser?.Name</td>
                <td>@room.Users?.Count</td>
                <td>@Model.Connections.Count(c => c.RoomId == room.Id && c.DeletedDateTime == null)/@Model.Connections.Count(c => c.RoomId == room.Id)</td>
                <td><local-date-time-string date-time="room.CreatedDateTime"></local-date-time-string></td>
                <td><local-date-time-string date-time="room.UpdatedDateTime"></local-date-time-string></td>
                <td><local-date-time-string date-time="room.DeletedDateTime"></local-date-time-string></td>
            </tr>
            }
        </tbody>
    </table>
</div>