@model RoomViewModel;
@using System.Text.Json;
@{
    ViewData["Title"] = "Room";
}
@section Styles {
    <link href="~/css/room.css" rel="stylesheet" />
    <link href="~/css/emotes.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/room.js"></script>
}
<div>
    <h3>@ViewData["Title"] - @Model.RoomName <button id="reload-room-btn" class="btn btn-outline-primary">Reload</button><button id="leave-room-btn" class="btn btn-outline-danger">Leave</button></h3>

    <div id="create-user" class="create-user-container hidden">
        <form id="create-user-form">
            <input id="room-id" type="hidden" value="@Model.RoomId" />
            <div class="mb-3">
                <label for="user-name-input" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="user-name-input">
            </div>
            <div class="mb-3">
                <label for="user-color-input" class="form-label">Your Color</label>
                <input type="color" class="form-control" id="user-color-input">
            </div>
            <button id="create-user-btn" class="btn btn-outline-success">Join</button>
        </form>
    </div>
    <div id="room" class="room-container hidden">
        <div class="row">
            <div class="col-4 bg-dark">

            </div>
            <div class="col-4">
                <div class="chat-box">
                    <div id="chat-messages">

                        <div class="divider new-messages-line text-danger position-relative user-select-none">
                            <div class="position-absolute top-50 end-0 translate-middle-y bg-danger text-danger small">
                                <span class="text-white">
                                    New Messages
                                </span>
                            </div>
                        </div>

                        <div class="chat-item chat-message shadow-sm">
                            <span class="chat-message-user color-tag black-outlined" style="background-color: black;">Test</span>
                            <span class="chat-message-text">
                                This is a test
                                <span class="emote LUL" title="LUL">LUL</span>
                                <span class="emote Wowee" title="Wowee">Wowee</span>
                                <span class="emote OMEGALUL" title="OMEGALUL">OMEGALUL</span>
                                <span class="emote PepoTurkey" title="PepoTurkey">PepoTurkey</span>
                            </span>
                        </div>

                    </div>
                    <div id="emotes-menu" class="hidden">
                        @foreach (var emote in Model.Emotes)
                        {
                            <div class="emote @emote" title="@emote">@emote</div>
                        }
                    </div>
                    <div class="chat-text-box-container">
                        <div class="input-group mb-3">
                            <input type="text" id="chat-text-box" class="form-control" placeholder="Type something..." />
                            <button class="btn btn-outline-secondary" type="button" id="chat-text-box-emote-btn"><i class="bi bi-emoji-smile"></i></button>
                            <button class="btn btn-outline-secondary" type="button" id="chat-text-box-send-btn"><i class="bi bi-chat-dots"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div id="room-user-list" class="d-grid gap-2">
                </div>
            </div>
        </div>
    </div>
    <div id="error" class="hidden">
        <h3 class="alert alert-danger">You are already connected to this room in another tab or window.</h3>
    </div>

</div>

<div id="templates" class="d-none">
    <div id="user-list-item-template">
        <div class="user-list-item p-2 bg-light shadow-sm row">
            <div class="user-list-item-name col"></div>
            <div class="col">
                <button class="btn btn-outline-primary"><i class="bi bi-megaphone"></i></button>
            </div>
            <div class="col">
                <button class="btn btn-outline-secondary" title="Promote to owner"><i class="bi bi-star"></i></button>
                <button class="btn btn-outline-danger" title="Kick"><i class="bi bi-person-x"></i></button>
            </div>
        </div>
    </div>
    <div id="chat-message-template">
        <div class="chat-item chat-message shadow-sm">
            <span class="chat-message-user color-tag black-outlined"></span> <span class="chat-message-text"></span>
        </div>
    </div>

    <div id="chat-signal-template">
        <div class="chat-item chat-signal shadow-sm">
            <span class="chat-message-signal-text color-tag white-outlined"></span>
        </div>
    </div>
</div>